<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.altervista.creativitainformaticart.Web_CAD_X3DOM_di_Cona_Pietro"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Web CAD X3DOM di Cona Pietro</name>

  <description>
      Web CAD X3DOM di Cona Pietro<br/><br/>
      
      http://creativitainformaticart.altervista.org
  </description>

  <author href="http://creativitainformaticart.altervista.org" email="pietro.72.prog@gmail.com">
      Cona Pietro
  </author>

  <icon src="qcad_icon.png" />

</widget>
